:root {
    --background: #111111;
    --font: #ffffff;
    --border-radius: 8px;
    --border-color: #999999;
    --font-size: 16px;
    --success: green;
    --error: red;
    --hint: var(--border-color);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: var(--background);
    color: var(--font);
    font-size: var(--font-size);
}
