@import '@/assets/base.css';

.body {
    display: flex;
    flex-direction: column;
    padding: 10px;

    margin: 16px;
    border-radius: var(--border-radius);

    border: 1px solid var(--border-color);
}

.card-image-wrap {
    display: flex;
    height: 100%;
}

.card-image {
    object-fit: cover;
    max-width: 100%;
}

.card-field {
    margin-top: 10px;
    font-size: 20px;
}

textarea {
    resize: vertical;
}

.status-display {
    text-align: center;
}
