@import '@/assets/base.css';

.page {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 16px;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);
}

.title {
    text-align: center;
}

h1 {
    margin: 20px 0px;
    font-size: 32px;
    color: var(--font);
}

a {
    color: var(--font);
}

a:hover {
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
}

input {
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);
    padding: 10px 16px;
    margin: 16px 8px;
    background: transparent;
    color: var(--font);

    font-size: 24px;
}

button {
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);
    padding: 10px 16px;
    margin: 16px 8px;
    background: white;
    color: black;

    font-size: 24px;
}

button:hover {
    background: transparent;
    color: var(--font);
    cursor: pointer;
}

button:active {
    background: white;
    color: black;
    cursor: pointer;
}

.error {
    border-color: red;
}

.error-display {
    color: red;
    height: 30px;
    text-align: center;
}
